/* 畫垂直線 */
.timeline {
    position: relative;
    padding-left: 2rem;
}
.timeline::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 10px;
    bottom: 6px;
    width: 2px;
    background-color: #ccc;
}
/* 畫圓 */
.timeline-item {
    position: relative;
}
.timeline-item::before {
    content: '';
    position: absolute;
    left: -1.8125rem;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
}
/* 畫水平線 */
.line {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 1em;
}