@use "mixin" as *;
@use "variables" as *;
@use "divider" as *;
*, *::before, *::after {
    box-sizing: border-box;
}
main {
    width: 80%;
    font-family: $font-family;
    max-width: 1200px;
    margin: 0 auto;
}
h1, h2 {
    @include font-size($font-l);
}
h3 {
    @include font-size($font-m);
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    color: black;
}
p {
    line-height: $line-height;
    margin-top: 8px;
    margin-bottom: 8px;
}
ul {
    list-style-type: disc;
    @include padding;
}
.summary {
    display: flex;
    justify-content: space-between;
    line-height: $line-height;
    @include padding;
    margin-top: 5%;
    gap: 6px;
}
.photo {
    @include padding;
}
.photo img {
    width: 100px;
    height: 120px;
    border-radius: 50%;
}
.position {
    text-decoration: underline;
}
.intro img, .info img {
    width: 15px;
    height: 15px;
    margin-top: 6px;
}
.summary ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    @include pad {
        flex-direction: column;
    }
}
.info li {
    display: flex;
    margin-right: 2%;
    gap: 5px;
}
.education, .experience, .skills, .autobiography {
    @include padding;
    margin-top: 5%;
    line-height: $line-height;
}
.subtitle {
    @include font-size($font-m);
    @include padding;
}
.content {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    @include padding;
}
.experience-group, .skills-group {
    display: flex;
    justify-content: space-between;
    @include pad {
        flex-direction: column;
    }
}
.skills-group {
    gap: 20px;
}
.timeline, .experience-group {
    flex: 1;
}
.skills-row {
    width: 33%;
    font-size: 16px;
    @include pad {
        width: 100%;
    };
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
}