*, *::before, *::after {
    box-sizing: border-box;
}
@mixin font-size($size) {
    font-size: $size;
    font-weight: bold;
    margin-bottom: 0.5em;
}
@mixin padding {
    padding-left: 20px;
    padding-right: 20px;
}
@mixin pad {
    @media(max-width: 768px){
		@content
	}
}
.up-to-top img {
    width: 100px;
    height: 120px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: #ccc 1px solid;
    border-width: 2px 3px 2px 5px;
    border-radius: 90% 6% 93% 5% / 5% 94% 7% 95%;
    /* 做出傾斜的視覺感 */
    transform: rotate(2deg);
    @include pad {
        width: 60px;
        height: 80px;
    }
}
.up-to-top img:hover {
    border: black 1px solid;
}
.wrap{
    width: 80%;
    font-family: $font-family-base;
    max-width: 1200px;
    margin: 0 auto;    /* 置中 */
}
h1{
    @include font-size($font-l);
}
h2{
    @include font-size($font-m);
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    color: black;
}
p {
    line-height: $line-height;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/* 第一部分照片及簡介 */
.summary{
    display: flex;
    justify-content: space-between;
    line-height: $line-height;
    @include padding;
    margin-top: 5%;
    gap: 6px;
}
.photo {
    @include padding;
}
.photo img {
    width: 100px;
    height: 120px;
    border-radius: 50%;
}
.position {
    text-decoration: underline;
}
.intro img, .info img {
    width: 15px;
    height: 15px;
    margin-top: 6px;
}
.info {
    display: flex;
    justify-content: flex-start;
    @include pad {
        flex-direction: column;
    }
}
.info div {
    display: flex;
    margin-right: 2%;
    gap: 5px;
}
/* 第二部分履歷 */
.education, .experience, .skills, .autobiography {
    @include padding;
    margin-top: 5%;
    line-height: $line-height;
}
.subtitle {
    font-size: 20px;
    @include padding;
}
.content {
    font-size: 16px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    @include padding;
}
/* 第三部分工作及學習經歷 */
.experience-group, .skills-group {
    display: flex;
    justify-content: space-between;
    @include pad {
        flex-direction: column;
    }
}
.experience-group .timeline {
    flex: 1; /* 兩個 timeline 各佔一半，寬度相同 */
}
/* 第四部分興趣專長 */
.skills-content {
    width: 33%;
    font-size: 16px;
    @include padding;
    @include pad {
        width: 100%;
    };
}
ul {
    list-style-type: disc;
    @include padding;
}
footer {
    display: flex;         
    justify-content: center;
    align-items: center;
    color: #ccc;
}